.footer {
  width: 100%;
  padding: 30px 0;
  background-color: #002153;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.6) 50%,
      rgba(255, 255, 255, 0)
    );
  }
  &::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    width: 103px;
    height: 25px;
    background-image: url(../img/img-deco-shiny@2x.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    transform: translateX(-50%) translateY(-50%);
  }
  .footer-wrapper {
    width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    @include pad {
      width: 768px;
      padding: 0 30px;
    }
    @include mobile {
      width: 360px;
      flex-direction: column;
      align-items: flex-start;
    }
    img {
      width: 152px;
      min-width: 152px;
      max-width: 152px;
      @include pad {
        margin-right: 44px;
        margin-bottom: 30px;
      }
      @include mobile {
        margin-right: 0;
        margin-bottom: 25px;
      }
    }
    .info-text {
      font-size: 12px;
      font-weight: normal;
      line-height: 1.5;
      p {
        margin-bottom: 1.5em;
        @include pad {
          margin-bottom: 1em;
        }
        br {
          display: none;
          @include mobile {
            display: block;
          }
        }
      }
    }
  }
}
