.header {
  width: 100%;
  max-width: 100vw;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  background-color: transparent;
  transition: 0.3s;
  &.bgc {
    background-color: #04163b;
    transition: 0.3s;
  }
  @include pad {
    height: 51px;
  }
  .header-wrapper {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include pad {
      max-width: 100vw;
      padding: 0 30px;
    }
    @include mobile {
      padding: 0 20px;
    }
    a#logo {
      height: 32px;
      display: inline-block;
      @include mobile {
        height: 25px;
      }
      h1 {
        height: 100%;
        img {
          height: 100%;
        }
      }
    }
    .toggle-btn {
      width: 30px;
      height: 26px;
      position: relative;
      display: none;
      @include pad {
        display: block;
      }
      &.off {
        .toggle-btn-bar {
          background-color: rgba(53, 159, 255, 0);
          &::before {
            bottom: 0;
            transform: rotate(-45deg);
            transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1),
              transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
          }
          &::after {
            top: 0;
            transform: rotate(45deg);
            transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1),
              transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
          }
        }
      }
      .toggle-btn-bar {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: rgba(53, 159, 255, 1);
        transition: all 0ms 300ms;
        &::before,
        &::after {
          content: "";
          display: inline-block;
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: rgba(53, 159, 255, 1);
        }
        &::before {
          bottom: 12px;
          transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
            transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
        }
        &::after {
          top: 12px;
          transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
            transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
        }
      }
    }
    nav {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      vertical-align: text-top;
      &.slide-in {
        top: 51px;
        transition: 0.3s;
      }
      @include pad {
        position: fixed;
        width: 100%;
        height: auto;
        top: -100vh;
        left: 0;
        flex-direction: column;
        justify-content: flex-start;
        transition: 0.3s;
        border-top: 1px solid #4afcff;
      }
      a {
        color: rgba(255, 255, 255, 0.8);
        font-size: 16px;
        line-height: 1.4;
        display: inline-block;
        position: relative;
        text-align: center;
        padding-top: 4px;
        &:hover {
          color: rgba(255, 255, 255, 1);
        }
        @include pad {
          color: #fff;
          font-size: 20px;
          width: 100%;
          height: 80px;
          display: flex;
          align-items: center;
          justify-content: center;
          padding-top: 0;
          border-bottom: 1px solid #4afcff;
          background-image: linear-gradient(
            to right,
            #0076d4,
            #003b84 38%,
            #003277 48%,
            #002e72 56%,
            #002e79 64%,
            #002f7e 70%,
            #00308f 81%,
            #0035d2 100%
          );
          &::before,
          &::after {
            content: "";
            position: absolute;
            display: block;
            width: 10px;
            height: 10px;
            background-image: url(../img/star.svg);
            background-size: contain;
            background-repeat: no-repeat;
            top: calc(50% - 5px);
          }
          &::before {
            left: 120px;
            @include mobile {
              left: 53px;
            }
          }
          &::after {
            right: 120px;
            @include mobile {
              right: 53px;
            }
          }
        }
        @include mobile {
          height: 97px;
        }
      }
      .deco-bar {
        color: rgba(255, 255, 255, 0.8);
        pointer-events: none;
        line-height: 1.4;
        font-size: 16px;
        margin: 0 5px;
        @include pad {
          display: none;
        }
      }
    }
  }
}
